@font-face {
   font-family: myFirstFont;
   src: url(../fonts/eurostile-webfont.woff);
}

*{
	font-family: myFirstFont;
}

.ibt_animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
/* Screen below 400 */
@media (min-width: 320px) and (max-width: 390px){

.navbar{
	background-color: white;
}

.nav-link{
	padding: 3px;
	text-align: left;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 0;
}

.navbar-nav,.nav-item ,.nav-link{
	position: relative;
	display: block;
	
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 15px;
	line-height: 1.15;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: black;
}

.nav_logo{
	display: none;
}

.nav_logo_small{
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-top: 1rem;
	line-height: inherit;
	white-space: nowrap;
}

#main_carousel{
	margin-top: 31%;
}

.carousel-caption {
    bottom: 3px !important;
}


.carousel-caption h1{
	font-size: 15px;
}

.carousel-caption span{
	font-size: 13px;
}

.carousel-caption h5{
	font-size: 11px;
}

.typewriter-1 {
	width: 55px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -3px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-2 {
	width: 110px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -3px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-3 {
	width: 135px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -3px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.ibt_content p{
	font-size: 12px;
	text-align: justify;
	word-break: break-all;
}

.ibt_serv_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}

.ibt_serv_icons .ibt_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 130px;
    height:100px;
    background: url(../img/sprite_1.1.png);
    text-align: center;
}



.ibt_serv_info {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
	opacity:0;
	height: 0;
    transition: all ease 0.5s;
}

.serv_hr
{
    display: none;
    width: 80px;
}

.ibt_serv_icons:hover .serv_hr{
	display: block;
}
.ibt_serv_icons:hover  .ibt_serv_info {
	height: 100px;
	opacity: 1;
	padding: 12px;
}

.etp_icon{
    background-position: -10px 0 !important;
}

.etp_int_icon{
    background-position: -140px 0 !important;
}

.mg_serv_icon{
    background-position: -260px 0 !important;
}

.mob_icon{
    background-position: -390px 0 !important;
}

.etp_sln_icon{
    background-position: -515px 0 !important;
}

.ecom_icon{
    background-position: -650px 0 !important;
}
.offshore_icon{
    background-position: -780px 0 !important;
}

.conslt_icon{
    background-position: -920px 0 !important;
}

.it_supt_icon{
    background-position: -1070px 0 !important;
}

.abt_us h3
{
    font-weight: 300;
}

.abt_us a
{
    color: #FDAC4C;
}

.abt_us a:hover
{
    text-decoration: none;
}

.abt_us a:focus
{
    outline: none;
}

.why_ibt p
{
    font-weight: 100;
    text-align: justify;
	font-size: 12px;
	word-break: break-all;
}

.why_ibt h4
{
    font-weight: 500;
}

.why_ibt h5
{
    font-weight: 400;
}

.why_hr
{
    width: 80px;
    color: rgba(0, 0, 0, .5);
}

.why_mobile_icon{
	display: block;
	margin-bottom: 12px;
}

.why_main_icon{
	display: none;
}

.modal-body p
{
    text-align: justify;
    font-weight: 300;
	font-size: 12px;
	word-break: break-all;
}

.ibt_portfolio h3
{
    font-weight: 300;
}

.ibt_portfolio p
{
	font-size: 12px;
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}


.ibt_pf_icons .ibt_pf_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100px;
    height:100px;
    background: url(../img/sprite_2.1.png);
    text-align: center;
}

.ibt_pf_icons h5 {
    font-weight: 300;
    font-size: 12px;
    margin-top: 5%;
}

.ibt_pf_icons p{
    font-size: 10px;
    font-weight: 100;
    text-align: justify;
    padding: 0;
	word-break: break-all;
}

.wh_icon {
    background-position: -40px 0 !important;
}

.bi_icon{
    background-position: -165px 0 !important;
}

.sap_icon{
    background-position: -290px 0 !important;
}

.bui_icon{
    background-position: -435px 0 !important;
}

.ma_icon {
    background-position: -550px 0 !important;
}

.esb_icon{
    background-position: -670px 0 !important;
}

.pf_icon{
    background-position: -785px 0 !important;
}

.html_icon{
    background-position: -945px 0 !important;
}


.pf_hr {
    width: 80px;
    color: rgba(0,0,0,.5);
}

.join_us h3 {
    font-weight: 300;
}

.join_us h5 {
    font-weight: 300;
}

.join_us p {
    font-weight: 100;
	font-size: 12px;
	
}
.join_us a {
    text-decoration: none;
}

.join_us a:focus {
    outline: none;
}

.contact_us h3 {
    font-weight: 300;
}

.contact_us h5 {
    font-weight: 300;
}

.contact_us h6 {
    font-weight: 300;
}

.location_address p {
    font-weight: 100;
	font-size: 12px;
}

.location_address a
{
    text-decoration: none;
    color: #007bff !important;

}

.location_address a:focus
{
    outline: none;
}

.contact_us a {
    text-decoration: none;
    color: #FDAC4C;
}

.contact_us a:focus {
    outline: none;
}
.text_area{
    height: 149px !important;
}

.form_modal p{
    font-size: 12px;
    font-weight: 400;
	margin-bottom: 35px;
}

.connect_us h3{
    font-weight: 300;
}

.connect_us a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.connect_us .message:hover {
    color: #CECB26;
}

.connect_us .twitter:hover{
    color: #2ac6f7;
}

.connect_us .facebook:hover{
    color: #3b5999;
}

.connect_us .linkedin:hover{
    color: #036dc0;
}

.ibt_footer p{
	font-size: 8px;
	text-align: center;
}

}

/* Screen above 400 */

@media (min-width: 400px) and (max-width: 700px){
	.navbar{
	background-color: white;
}

.nav-link{
	padding: 3px;
	text-align: left;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 0;
}

.navbar-nav,.nav-item ,.nav-link{
	position: relative;
	display: block;
	
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 15px;
	line-height: 1.15;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: black;
}

.nav_logo{
	display: none;
}

.nav_logo_small{
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-top: 1rem;
	line-height: inherit;
	white-space: nowrap;
}

#main_carousel{
	margin-top: 24%;
}

.carousel-caption {
    bottom: 30px !important;
}


.carousel-caption h1{
	font-size: 15px;
}

.carousel-caption span{
	font-size: 15px;
}

.carousel-caption h5{
	font-size: 12px;
}

.typewriter-1 {
	width: 65px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -3px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-2 {
	width: 125px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -3px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-3 {
	width: 155px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -3px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.ibt_content p{
	font-size: 12px;
	text-align: justify;
	word-break: break-all;
}

.ibt_serv_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}

.ibt_serv_icons .ibt_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 130px;
    height:100px;
    background: url(../img/sprite_1.1.png);
    text-align: center;
}



.ibt_serv_info {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
	opacity:0;
	height: 0;
    transition: all ease 0.5s;
}

.serv_hr
{
    display: none;
    width: 80px;
}

.ibt_serv_icons:hover .serv_hr{
	display: block;
}
.ibt_serv_icons:hover  .ibt_serv_info {
	height: 100px;
	opacity: 1;
	padding: 12px;
}

.etp_icon{
    background-position: -10px 0 !important;
}

.etp_int_icon{
    background-position: -140px 0 !important;
}

.mg_serv_icon{
    background-position: -260px 0 !important;
}

.mob_icon{
    background-position: -390px 0 !important;
}

.etp_sln_icon{
    background-position: -515px 0 !important;
}

.ecom_icon{
    background-position: -650px 0 !important;
}
.offshore_icon{
    background-position: -780px 0 !important;
}

.conslt_icon{
    background-position: -920px 0 !important;
}

.it_supt_icon{
    background-position: -1070px 0 !important;
}

.abt_us h3
{
    font-weight: 300;
}

.abt_us a
{
    color: #FDAC4C;
}

.abt_us a:hover
{
    text-decoration: none;
}

.abt_us a:focus
{
    outline: none;
}

.why_ibt p
{
    font-weight: 100;
    text-align: justify;
	font-size: 15px;
	word-break: break-all;
}

.why_ibt h4
{
    font-weight: 500;
}

.why_ibt h5
{
    font-weight: 400;
}

.why_hr
{
    width: 80px;
    color: rgba(0, 0, 0, .5);
}

.why_mobile_icon{
	display: block;
	margin-bottom: 12px;
}

.why_main_icon{
	display: none;
}

.modal-body p
{
    text-align: justify;
    font-weight: 300;
	font-size: 15px;
	word-break: break-all;
}

.ibt_portfolio h3
{
    font-weight: 300;
}

.ibt_portfolio p
{
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}


.ibt_pf_icons .ibt_pf_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100px;
    height:100px;
    background: url(../img/sprite_2.1.png);
    text-align: center;
}

.ibt_pf_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}

.ibt_pf_icons p{
    font-size: 13px;
    font-weight: 100;
    text-align: justify;
    padding: 20px;
	word-break: break-all;
}

.wh_icon {
    background-position: -40px 0 !important;
}

.bi_icon{
    background-position: -165px 0 !important;
}

.sap_icon{
    background-position: -290px 0 !important;
}

.bui_icon{
    background-position: -435px 0 !important;
}

.ma_icon {
    background-position: -550px 0 !important;
}

.esb_icon{
    background-position: -670px 0 !important;
}

.pf_icon{
    background-position: -785px 0 !important;
}

.html_icon{
    background-position: -945px 0 !important;
}

.pf_hr {
    width: 80px;
    color: rgba(0,0,0,.5);
}

.join_us h3 {
    font-weight: 300;
}

.join_us h5 {
    font-weight: 300;
}

.join_us p {
    font-weight: 100;
	font-size: 15px;
	
}
.join_us a {
    text-decoration: none;
}

.join_us a:focus {
    outline: none;
}

.contact_us h3 {
    font-weight: 300;
}

.contact_us h5 {
    font-weight: 300;
}

.contact_us h6 {
    font-weight: 300;
}

.location_address p {
    font-weight: 100;
	font-size: 12px;
}

.location_address a
{
    text-decoration: none;
    color: #007bff !important;

}

.location_address a:focus
{
    outline: none;
}

.contact_us a {
    text-decoration: none;
    color: #FDAC4C;
}

.contact_us a:focus {
    outline: none;
}
.text_area{
    height: 149px !important;
}

.form_modal p{
    font-size: 15px;
    font-weight: 400;
	margin-bottom: 35px;
}

.connect_us h3{
    font-weight: 300;
}

.connect_us a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.connect_us .message:hover {
    color: #CECB26;
}

.connect_us .twitter:hover{
    color: #2ac6f7;
}

.connect_us .facebook:hover{
    color: #3b5999;
}

.connect_us .linkedin:hover{
    color: #036dc0;
}

.ibt_footer p{
	font-size: 12px;
	text-align: center;
}

}

/*screen above 700 and below 900*/
@media (min-width:700px) and (max-width: 900px){

.navbar{
	background-color: white;
}

.nav-link{
	padding: 3px;
	text-align: left;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 0;
}

.navbar-nav,.nav-item ,.nav-link{
	position: relative;
	display: block;
	
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 15px;
	line-height: 1.15;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: black;
}

.nav_logo{
	display: none;
}

.nav_logo_small{
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-top: 1rem;
	line-height: inherit;
	white-space: nowrap;
}

#main_carousel{
	margin-top: 13%;

}

.carousel-caption {
    bottom: 75px !important;
}

.carousel-caption h1{
	font-size: 30px;
}

.carousel-caption span{
	font-size: 30px;
}

.typewriter-1 {
	width: 130px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -7px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-2 {
	width: 245px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -7px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-3 {
	width: 305px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -7px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.ibt_content p{
	font-size: 12px;
	text-align: justify;
	word-break: break-all;
}

.ibt_serv_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}

.ibt_serv_icons .ibt_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 130px;
    height:100px;
    background: url(../img/sprite_1.1.png);
    text-align: center;
}



.ibt_serv_info {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
	opacity:0;
	height: 0;
    transition: all ease 0.5s;
}

.serv_hr
{
    display: none;
    width: 80px;
}

.ibt_serv_icons:hover .serv_hr{
	display: block;
}
.ibt_serv_icons:hover  .ibt_serv_info {
	height: 100px;
	opacity: 1;
	padding: 12px;
}

.etp_icon{
    background-position: -10px 0 !important;
}

.etp_int_icon{
    background-position: -140px 0 !important;
}

.mg_serv_icon{
    background-position: -260px 0 !important;
}

.mob_icon{
    background-position: -390px 0 !important;
}

.etp_sln_icon{
    background-position: -515px 0 !important;
}

.ecom_icon{
    background-position: -650px 0 !important;
}
.offshore_icon{
    background-position: -780px 0 !important;
}

.conslt_icon{
    background-position: -920px 0 !important;
}

.it_supt_icon{
    background-position: -1070px 0 !important;
}

.abt_us h3
{
    font-weight: 300;
}

.abt_us a
{
    color: #FDAC4C;
}

.abt_us a:hover
{
    text-decoration: none;
}

.abt_us a:focus
{
    outline: none;
}

.why_ibt p
{
    font-weight: 100;
    text-align: justify;
	font-size: 15px;
	word-break: break-all;
}

.why_ibt h4
{
    font-weight: 500;
}

.why_ibt h5
{
    font-weight: 400;
}

.why_hr
{
    width: 80px;
    color: rgba(0, 0, 0, .5);
}

.why_mobile_icon{
	display: block;
	margin-bottom: 12px;
}

.why_main_icon{
	display: none;
}

.modal-body p
{
    text-align: justify;
    font-weight: 300;
	font-size: 15px;
	word-break: break-all;
}

.ibt_portfolio h3
{
    font-weight: 300;
}

.ibt_portfolio p
{
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}


.ibt_pf_icons .ibt_pf_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100px;
    height:100px;
    background: url(../img/sprite_2.1.png);
    text-align: center;
}

.ibt_pf_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}

.ibt_pf_icons p{
    font-size: 13px;
    font-weight: 100;
    text-align: justify;
    padding: 20px;
	word-break: break-all;
}

.wh_icon {
    background-position: -40px 0 !important;
}

.bi_icon{
    background-position: -165px 0 !important;
}

.sap_icon{
    background-position: -290px 0 !important;
}

.bui_icon{
    background-position: -435px 0 !important;
}

.ma_icon {
    background-position: -550px 0 !important;
}

.esb_icon{
    background-position: -670px 0 !important;
}

.pf_icon{
    background-position: -785px 0 !important;
}

.html_icon{
    background-position: -945px 0 !important;
}

.pf_hr {
    width: 80px;
    color: rgba(0,0,0,.5);
}

.join_us h3 {
    font-weight: 300;
}

.join_us h5 {
    font-weight: 300;
}

.join_us p {
    font-weight: 100;
	font-size: 15px;
	
}
.join_us a {
    text-decoration: none;
}

.join_us a:focus {
    outline: none;
}

.contact_us h3 {
    font-weight: 300;
}

.contact_us h5 {
    font-weight: 300;
}

.contact_us h6 {
    font-weight: 300;
}

.location_address p {
    font-weight: 100;
	font-size: 12px;
}

.location_address a
{
    text-decoration: none;
    color: #007bff !important;

}

.location_address a:focus
{
    outline: none;
}

.contact_us a {
    text-decoration: none;
    color: #FDAC4C;
}

.contact_us a:focus {
    outline: none;
}
.text_area{
    height: 149px !important;
}

.form_modal p{
    font-size: 15px;
    font-weight: 400;
	margin-bottom: 35px;
}

.connect_us h3{
    font-weight: 300;
}

.connect_us a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.connect_us .message:hover {
    color: #CECB26;
}

.connect_us .twitter:hover{
    color: #2ac6f7;
}

.connect_us .facebook:hover{
    color: #3b5999;
}

.connect_us .linkedin:hover{
    color: #036dc0;
}

.ibt_footer p{
	font-size: 12px;
	text-align: center;
}

}

/* screen above 900 */
@media (min-width: 950px){
	.navbar {
    padding: 0rem 1rem !important;
}

.nav_logo{
	display: block;
}

.nav_logo_small {
	display: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 15px;
	line-height: 1.15;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

.fixed-top.scrolled {
    background-color: #fff !important;
    color: rgba(0,0,0,.5);
    transition: background-color 200ms linear;
}
.scrolled-link {
    color: rgba(0,0,0,.5) !important;
}
.scrolled-link:hover
{
    color: rgba(0,0,0,.5) !important;
}
.carousel_img {
    min-height: 300px;

}
.carousel-caption {
    bottom: 125px !important;
}

.hr{
    width: 80px;
    color: rgba(0,0,0,.5);
}

.ibt_header h3 {
    font-weight: 300;
}
.serv_header h3 {
    font-weight: 300;
}
.ibt_header hr {
    width: 60px;
    color: rgba(0,0,0,.5);
}

.ibt_content p {
    font-weight: 100;
    
}
.ibt_serv_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}


.ibt_serv_icons .ibt_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 130px;
    height:100px;
    background: url(../img/sprite_1.1.png);
    text-align: center;
}



.ibt_serv_info {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
	opacity:0;
	height: 0;
    transition: all ease 0.5s;
}

.serv_hr
{
    display: none;
    width: 80px;
}

.ibt_serv_icons:hover .serv_hr{
	display: block;
}
.ibt_serv_icons:hover  .ibt_serv_info {
	height: 100px;
	opacity: 1;
	padding: 12px;
}

.etp_icon{
    background-position: -10px 0 !important;
}

.etp_int_icon{
    background-position: -140px 0 !important;
}

.mg_serv_icon{
    background-position: -260px 0 !important;
}

.mob_icon{
    background-position: -390px 0 !important;
}

.etp_sln_icon{
    background-position: -515px 0 !important;
}

.ecom_icon{
    background-position: -650px 0 !important;
}
.offshore_icon{
    background-position: -780px 0 !important;
}

.conslt_icon{
    background-position: -920px 0 !important;
}

.it_supt_icon{
    background-position: -1070px 0 !important;
}

.abt_us h3
{
    font-weight: 300;
}

.abt_us a
{
    color: #FDAC4C;
}

.abt_us a:hover
{
    text-decoration: none;
}

.abt_us a:focus
{
    outline: none;
}

.why_ibt p
{
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}

.why_ibt h4
{
    font-weight: 500;
}

.why_ibt h5
{
    font-weight: 400;
}

.why_hr
{
    width: 80px;
    color: rgba(0, 0, 0, .5);
}

.why_mobile_icon{
	display: none;
}

.why_main_icon{
	display: block;
}

.modal-body p{
    text-align: justify;
    font-weight: 300;
}

.ibt_portfolio h3{
    font-weight: 300;
}

.ibt_portfolio p{
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}


.ibt_pf_icons .ibt_pf_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100px;
    height:100px;
    background: url(../img/sprite_2.1.png);
    text-align: center;
}
.ibt_pf_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}

.ibt_pf_icons p{
    font-size: 13px;
    font-weight: 100;
    text-align: justify;
    padding: 12px;
}

.wh_icon {
    background-position: -40px 0 !important;
}

.bi_icon{
    background-position: -165px 0 !important;
}

.sap_icon{
    background-position: -290px 0 !important;
}

.bui_icon{
    background-position: -435px 0 !important;
}

.ma_icon {
    background-position: -550px 0 !important;
}

.esb_icon{
    background-position: -670px 0 !important;
}

.pf_icon{
    background-position: -785px 0 !important;
}

.html_icon{
    background-position: -945px 0 !important;
}


.pf_hr {
    width: 80px;
    color: rgba(0,0,0,.5);
}

.join_us h3 {
    font-weight: 300;
}

.join_us h5 {
    font-weight: 300;
}

.join_us p {
    font-weight: 100;
	
}
.join_us a {
    text-decoration: none;
}

.join_us a:focus {
    outline: none;
}

.contact_us h3 {
    font-weight: 300;
}

.contact_us h5 {
    font-weight: 300;
}

.contact_us h6 {
    font-weight: 300;
}

.location_address p {
    font-weight: 100;
}

.location_address a
{
    text-decoration: none;
    color: #007bff !important;

}

.location_address a:focus
{
    outline: none;
}

.contact_us a {
    text-decoration: none;
    color: #FDAC4C;
}

.contact_us a:focus {
    outline: none;
}
.text_area{
    height: 149px !important;
}

.form_modal p{
    font-size: 15px;
    font-weight: 400;
	margin-bottom: 35px;
}

.connect_us h3{
    font-weight: 300;
}

.connect_us a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.connect_us .message:hover {
    color: #CECB26;
}

.connect_us .twitter:hover{
    color: #2ac6f7;
}

.connect_us .facebook:hover{
    color: #3b5999;
}

.connect_us .linkedin:hover{
    color: #036dc0;
}

.typewriter-1 {
	width: 200px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -9px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-2 {
	width: 360px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -9px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-3 {
	width: 448px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -9px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}
}

@media (min-width: 992px) and (max-width: 1000px){

	.navbar {
    padding: 0rem 1rem !important;
}

.nav_logo{
	display: block;
}

.nav_logo_small {
	display: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 15px;
	line-height: 1.15;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

.fixed-top.scrolled {
    background-color: #fff !important;
    color: rgba(0,0,0,.5);
    transition: background-color 200ms linear;
}
.scrolled-link {
    color: rgba(0,0,0,.5) !important;
}
.scrolled-link:hover
{
    color: rgba(0,0,0,.5) !important;
}
.carousel_img {
    min-height: 300px;

}
.carousel-caption {
    top: 300px !important;
}

.hr{
    width: 80px;
    color: rgba(0,0,0,.5);
}

.ibt_header h3 {
    font-weight: 300;
}
.serv_header h3 {
    font-weight: 300;
}
.ibt_header hr {
    width: 60px;
    color: rgba(0,0,0,.5);
}

.ibt_content p {
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}
.ibt_serv_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}


.ibt_serv_icons .ibt_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 130px;
    height:100px;
    background: url(../img/sprite_1.1.png);
    text-align: center;
}



.ibt_serv_info {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
	opacity:0;
	height: 0;
    transition: all ease 0.5s;
}

.serv_hr
{
    display: none;
    width: 80px;
}

.ibt_serv_icons:hover .serv_hr{
	display: block;
}
.ibt_serv_icons:hover  .ibt_serv_info {
	height: 100px;
	opacity: 1;
	padding: 12px;
}

.etp_icon{
    background-position: -10px 0 !important;
}

.etp_int_icon{
    background-position: -140px 0 !important;
}

.mg_serv_icon{
    background-position: -260px 0 !important;
}

.mob_icon{
    background-position: -390px 0 !important;
}

.etp_sln_icon{
    background-position: -515px 0 !important;
}

.ecom_icon{
    background-position: -650px 0 !important;
}
.offshore_icon{
    background-position: -780px 0 !important;
}

.conslt_icon{
    background-position: -920px 0 !important;
}

.it_supt_icon{
    background-position: -1070px 0 !important;
}

.abt_us h3
{
    font-weight: 300;
}

.abt_us a
{
    color: #FDAC4C;
}

.abt_us a:hover
{
    text-decoration: none;
}

.abt_us a:focus
{
    outline: none;
}

.why_ibt p
{
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}

.why_ibt h4
{
    font-weight: 500;
}

.why_ibt h5
{
    font-weight: 400;
}

.why_hr
{
    width: 80px;
    color: rgba(0, 0, 0, .5);
}

.why_mobile_icon{
	display: none;
}

.why_main_icon{
	display: block;
}

.modal-body p
{
    text-align: justify;
    font-weight: 300;
	word-break: break-all;
}

.ibt_portfolio h3
{
    font-weight: 300;
}

.ibt_portfolio p
{
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}


.ibt_pf_icons .ibt_pf_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100px;
    height:100px;
    background: url(../img/sprite_2.1.png);
    text-align: center;
}
.ibt_pf_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}

.ibt_pf_icons p{
    font-size: 13px;
    font-weight: 100;
    text-align: justify;
    padding: 12px;
	word-break: break-all;
}

.wh_icon {
    background-position: -40px 0 !important;
}

.bi_icon{
    background-position: -165px 0 !important;
}

.sap_icon{
    background-position: -290px 0 !important;
}

.bui_icon{
    background-position: -435px 0 !important;
}

.ma_icon {
    background-position: -550px 0 !important;
}

.esb_icon{
    background-position: -670px 0 !important;
}

.pf_icon{
    background-position: -785px 0 !important;
}

.html_icon{
    background-position: -945px 0 !important;
}


.pf_hr {
    width: 80px;
    color: rgba(0,0,0,.5);
}

.join_us h3 {
    font-weight: 300;
}

.join_us h5 {
    font-weight: 300;
}

.join_us p {
    font-weight: 100;
	
}
.join_us a {
    text-decoration: none;
}

.join_us a:focus {
    outline: none;
}

.contact_us h3 {
    font-weight: 300;
}

.contact_us h5 {
    font-weight: 300;
}

.contact_us h6 {
    font-weight: 300;
}

.location_address p {
    font-weight: 100;
}

.location_address a
{
    text-decoration: none;
    color: #007bff !important;

}

.location_address a:focus
{
    outline: none;
}

.contact_us a {
    text-decoration: none;
    color: #FDAC4C;
}

.contact_us a:focus {
    outline: none;
}
.text_area{
    height: 149px !important;
}

.form_modal p{
    font-size: 15px;
    font-weight: 400;
	margin-bottom: 35px;
}

.connect_us h3{
    font-weight: 300;
}

.connect_us a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.connect_us .message:hover {
    color: #CECB26;
}

.connect_us .twitter:hover{
    color: #2ac6f7;
}

.connect_us .facebook:hover{
    color: #3b5999;
}

.connect_us .linkedin:hover{
    color: #036dc0;
}

.typewriter-1 {
	width: 200px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -8px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-2 {
	width: 365px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -8px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-3 {
	width: 450px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -8px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

}

@media (min-width: 1024px) and (max-width: 1500px){

	.navbar {
    padding: 0rem 1rem !important;
}

.nav_logo{
	display: block;
}

.nav_logo_small {
	display: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 15px;
	line-height: 1.15;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

.fixed-top.scrolled {
    background-color: #fff !important;
    color: rgba(0,0,0,.5);
    transition: background-color 200ms linear;
}
.scrolled-link {
    color: rgba(0,0,0,.5) !important;
}
.scrolled-link:hover
{
    color: rgba(0,0,0,.5) !important;
}
.carousel_img {
    min-height: 300px;

}
.carousel-caption {
    bottom: 105px !important;
}

.hr{
    width: 80px;
    color: rgba(0,0,0,.5);
}

.ibt_header h3 {
    font-weight: 300;
}
.serv_header h3 {
    font-weight: 300;
}
.ibt_header hr {
    width: 60px;
    color: rgba(0,0,0,.5);
}

.ibt_content p {
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}
.ibt_serv_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}


.ibt_serv_icons .ibt_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 130px;
    height:100px;
    background: url(../img/sprite_1.1.png);
    text-align: center;
}



.ibt_serv_info {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
	opacity:0;
	height: 0;
    transition: all ease 0.5s;
}

.serv_hr
{
    display: none;
    width: 80px;
}

.ibt_serv_icons:hover .serv_hr{
	display: block;
}
.ibt_serv_icons:hover  .ibt_serv_info {
	height: 100px;
	opacity: 1;
	padding: 12px;
}

.etp_icon{
    background-position: -10px 0 !important;
}

.etp_int_icon{
    background-position: -140px 0 !important;
}

.mg_serv_icon{
    background-position: -260px 0 !important;
}

.mob_icon{
    background-position: -390px 0 !important;
}

.etp_sln_icon{
    background-position: -515px 0 !important;
}

.ecom_icon{
    background-position: -650px 0 !important;
}
.offshore_icon{
    background-position: -780px 0 !important;
}

.conslt_icon{
    background-position: -920px 0 !important;
}

.it_supt_icon{
    background-position: -1070px 0 !important;
}

.abt_us h3
{
    font-weight: 300;
}

.abt_us a
{
    color: #FDAC4C;
}

.abt_us a:hover
{
    text-decoration: none;
}

.abt_us a:focus
{
    outline: none;
}

.why_ibt p
{
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}

.why_ibt h4
{
    font-weight: 500;
}

.why_ibt h5
{
    font-weight: 400;
}

.why_hr
{
    width: 80px;
    color: rgba(0, 0, 0, .5);
}

.why_mobile_icon{
	display: none;
}

.why_main_icon{
	display: block;
}

.modal-body p
{
    text-align: justify;
    font-weight: 300;
	word-break: break-all;
}

.ibt_portfolio h3
{
    font-weight: 300;
}

.ibt_portfolio p
{
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}


.ibt_pf_icons .ibt_pf_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100px;
    height:100px;
    background: url(../img/sprite_2.1.png);
    text-align: center;
}
.ibt_pf_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}

.ibt_pf_icons p{
    font-size: 13px;
    font-weight: 100;
    text-align: justify;
    padding: 12px;
	word-break: break-all;
}

.wh_icon {
    background-position: -40px 0 !important;
}

.bi_icon{
    background-position: -165px 0 !important;
}

.sap_icon{
    background-position: -290px 0 !important;
}

.bui_icon{
    background-position: -435px 0 !important;
}

.ma_icon {
    background-position: -550px 0 !important;
}

.esb_icon{
    background-position: -670px 0 !important;
}

.pf_icon{
    background-position: -785px 0 !important;
}

.html_icon{
    background-position: -945px 0 !important;
}


.pf_hr {
    width: 80px;
    color: rgba(0,0,0,.5);
}

.join_us h3 {
    font-weight: 300;
}

.join_us h5 {
    font-weight: 300;
}

.join_us p {
    font-weight: 100;
	
}
.join_us a {
    text-decoration: none;
}

.join_us a:focus {
    outline: none;
}

.contact_us h3 {
    font-weight: 300;
}

.contact_us h5 {
    font-weight: 300;
}

.contact_us h6 {
    font-weight: 300;
}

.location_address p {
    font-weight: 100;
}

.location_address a
{
    text-decoration: none;
    color: #007bff !important;

}

.location_address a:focus
{
    outline: none;
}

.contact_us a {
    text-decoration: none;
    color: #FDAC4C;
}

.contact_us a:focus {
    outline: none;
}
.text_area{
    height: 149px !important;
}

.form_modal p{
    font-size: 15px;
    font-weight: 400;
	margin-bottom: 35px;
}

.connect_us h3{
    font-weight: 300;
}

.connect_us a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.connect_us .message:hover {
    color: #CECB26;
}

.connect_us .twitter:hover{
    color: #2ac6f7;
}

.connect_us .facebook:hover{
    color: #3b5999;
}

.connect_us .linkedin:hover{
    color: #036dc0;
}

.typewriter-1 {
	width: 170px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -9px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-2 {
	width: 325px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -9px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-3 {
	width: 405px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -9px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

}

@media (min-width: 1700px) and (max-width: 2000px){

	.navbar {
    padding: 0rem 1rem !important;
}

.nav_logo{
	display: block;
}

.nav_logo_small {
	display: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 15px;
	line-height: 1.15;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

.fixed-top.scrolled {
    background-color: #fff !important;
    color: rgba(0,0,0,.5);
    transition: background-color 200ms linear;
}
.scrolled-link {
    color: rgba(0,0,0,.5) !important;
}
.scrolled-link:hover
{
    color: rgba(0,0,0,.5) !important;
}
.carousel_img {
    min-height: 300px;

}
.carousel-caption {
    bottom: 240px !important;
}

.hr{
    width: 80px;
    color: rgba(0,0,0,.5);
}

.ibt_header h3 {
    font-weight: 300;
}
.serv_header h3 {
    font-weight: 300;
}
.ibt_header hr {
    width: 60px;
    color: rgba(0,0,0,.5);
}

.ibt_content p {
    font-weight: 100;
    
	
}
.ibt_serv_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}


.ibt_serv_icons .ibt_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 130px;
    height:100px;
    background: url(../img/sprite_1.1.png);
    text-align: center;
}



.ibt_serv_info {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
	opacity:0;
	height: 0;
    transition: all ease 0.5s;
}

.serv_hr
{
    display: none;
    width: 80px;
}

.ibt_serv_icons:hover .serv_hr{
	display: block;
}
.ibt_serv_icons:hover  .ibt_serv_info {
	height: 100px;
	opacity: 1;
	padding: 12px;
}

.etp_icon{
    background-position: -10px 0 !important;
}

.etp_int_icon{
    background-position: -140px 0 !important;
}

.mg_serv_icon{
    background-position: -260px 0 !important;
}

.mob_icon{
    background-position: -390px 0 !important;
}

.etp_sln_icon{
    background-position: -515px 0 !important;
}

.ecom_icon{
    background-position: -650px 0 !important;
}
.offshore_icon{
    background-position: -780px 0 !important;
}

.conslt_icon{
    background-position: -920px 0 !important;
}

.it_supt_icon{
    background-position: -1070px 0 !important;
}

.abt_us h3
{
    font-weight: 300;
}

.abt_us a
{
    color: #FDAC4C;
}

.abt_us a:hover
{
    text-decoration: none;
}

.abt_us a:focus
{
    outline: none;
}

.why_ibt p
{
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}

.why_ibt h4
{
    font-weight: 500;
}

.why_ibt h5
{
    font-weight: 400;
}

.why_hr
{
    width: 80px;
    color: rgba(0, 0, 0, .5);
}

.why_mobile_icon{
	display: none;
}

.why_main_icon{
	display: block;
}

.modal-body p
{
    text-align: justify;
    font-weight: 300;
}

.ibt_portfolio h3
{
    font-weight: 300;
}

.ibt_portfolio p
{
    font-weight: 100;
    text-align: justify;
	word-break: break-all;
}


.ibt_pf_icons .ibt_pf_sprite_icons{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100px;
    height:100px;
    background: url(../img/sprite_2.1.png);
    text-align: center;
}
.ibt_pf_icons h5 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5%;
}

.ibt_pf_icons p{
    font-size: 13px;
    font-weight: 100;
    text-align: justify;
    padding: 12px;
}

.wh_icon {
    background-position: -40px 0 !important;
}

.bi_icon{
    background-position: -165px 0 !important;
}

.sap_icon{
    background-position: -290px 0 !important;
}

.bui_icon{
    background-position: -435px 0 !important;
}

.ma_icon {
    background-position: -550px 0 !important;
}

.esb_icon{
    background-position: -670px 0 !important;
}

.pf_icon{
    background-position: -785px 0 !important;
}

.html_icon{
    background-position: -945px 0 !important;
}


.pf_hr {
    width: 80px;
    color: rgba(0,0,0,.5);
}

.join_us h3 {
    font-weight: 300;
}

.join_us h5 {
    font-weight: 300;
}

.join_us p {
    font-weight: 100;
	
}
.join_us a {
    text-decoration: none;
}

.join_us a:focus {
    outline: none;
}

.contact_us h3 {
    font-weight: 300;
}

.contact_us h5 {
    font-weight: 300;
}

.contact_us h6 {
    font-weight: 300;
}

.location_address p {
    font-weight: 100;
}

.location_address a
{
    text-decoration: none;
    color: #007bff !important;

}

.location_address a:focus
{
    outline: none;
}

.contact_us a {
    text-decoration: none;
    color: #FDAC4C;
}

.contact_us a:focus {
    outline: none;
}
.text_area{
    height: 149px !important;
}

.form_modal p{
    font-size: 15px;
    font-weight: 400;
	margin-bottom: 35px;
}

.connect_us h3{
    font-weight: 300;
}

.connect_us a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.connect_us .message:hover {
    color: #CECB26;
}

.connect_us .twitter:hover{
    color: #2ac6f7;
}

.connect_us .facebook:hover{
    color: #3b5999;
}

.connect_us .linkedin:hover{
    color: #036dc0;
}

.typewriter-1 {
	width: 200px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -9px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-2 {
	width: 360px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -9px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

.typewriter-3 {
	width: 450px;
	border-right: .10em solid white;
    white-space:nowrap;
	margin: -9px auto;
    overflow:hidden;
    -webkit-animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
    animation: type .9s steps(50, end), blink-caret .5s step-end infinite;
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.form_errors p{
	margin-top: 5px;
	margin-bottom: 0;

}

}

